@import url('../color/dark.css');

.m3-card {
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    border-radius: 12px;
    padding: 16px;
    text-align: center;

    transition: box-shadow 0.2s ease,
    transform 0.1s ease,
    background-color 0.2s ease;
}

.m3-card.enabled {
    box-shadow: none;
}

.m3-card:hover {
    box-shadow: 0px 2px 6px var(--md-sys-color-shadow),
    0px 4px 12px var(--md-sys-color-shadow);
}

.m3-card.focus:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--md-sys-color-primary),
    0 4px 12px var(--md-sys-color-shadow);
}

.m3-card.pressed:active {
    transform: scale(0.98);
    box-shadow: 0px 1px 3px var(--md-sys-color-shadow);
}

.m3-card.filled {
    background-color: var(--md-sys-color-surface-container-highest);
}

.m3-card.outlined {
    background-color: var(--md-sys-color-surface);
    border: 1px solid var(--md-sys-color-outline-variant);
}

.m3-card.elevated {
    background-color: var(--md-sys-color-surface-container-low);

    box-shadow: 0px 1px 2px var(--md-sys-color-shadow),
    0px 2px 6px 2px var(--md-sys-color-shadow);
}