@import url('../color/dark.css');

.m3-fab {
    position: fixed;
    bottom: 24px;
    right: 24px;

    width: 56px;
    height: 56px;

    border-radius: 16px;
    border: none;

    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3),
    0px 6px 10px rgba(0, 0, 0, 0.2);

    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    z-index: 999;
}

.m3-fab:hover {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

.m3-fab:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(139, 208, 239, 0.25);
}